name: ai_prompt_kit
description: A Flutter-friendly AI helper package for calling LLM APIs using prompt templates and structured responses.
version: 0.0.3
homepage: https://github.com/hamidhosen42/ai_prompt_kit

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.0.0"

dependencies:
  flutter:
    sdk: flutter
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0
